
@{
    ViewBag.Title = "Our Team";
}

<div class="container">
    <h1>Our Team</h1>
    <hr/>
    <div class="">
        <div class="col-md-12 row">
            @*@foreach (var product in Model)
            {*@
                <div class="col-3 col-md-3 mr-auto">
                        <div class="card">
                            <h3 class="card-title">Team Member</h3>
                            <img class="card-img-top" src="~/Content/businessman-avatar-icon-01-.jpg" alt="Card image" style="width:100%">
                            <div class="card-body">
                                <h4 class="card-header">Position</h4>
                                <a href="http://ted.com"><p class="card-text">TED profile</p></a>
                                <a href="http://linkedin.com"><p class="card-text">LinkedIn</p></a>
                            </div>
                        </div>
                </div>
            <div class="col-3 col-md-3 mr-auto">
                <div class="card">
                    <h3 class="card-title">Team Member</h3>
                    <img class="card-img-top" src="~/Content/businessman-avatar-icon-01-.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-header">Position</h4>
                        <a href="http://ted.com"><p class="card-text">TED profile</p></a>
                        <a href="http://linkedin.com"><p class="card-text">LinkedIn</p></a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3 mr-auto">
                <div class="card">
                    <h3 class="card-title">Team Member</h3>
                    <img class="card-img-top" src="~/Content/businessman-avatar-icon-01-.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-header">Position</h4>
                        <a href="http://ted.com"><p class="card-text">TED profile</p></a>
                        <a href="http://linkedin.com"><p class="card-text">LinkedIn</p></a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3 mr-auto">
                <div class="card">
                    <h3 class="card-title">Team Member</h3>
                    <img class="card-img-top" src="~/Content/businessman-avatar-icon-01-.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-header">Position</h4>
                        <a href="http://ted.com"><p class="card-text">TED profile</p></a>
                        <a href="http://linkedin.com"><p class="card-text">LinkedIn</p></a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3 mr-auto">
                <div class="card">
                    <h3 class="card-title">Team Member</h3>
                    <img class="card-img-top" src="~/Content/businessman-avatar-icon-01-.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-header">Position</h4>
                        <a href="http://ted.com"><p class="card-text">TED profile</p></a>
                        <a href="http://linkedin.com"><p class="card-text">LinkedIn</p></a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-md-3 mr-auto">
                <div class="card">
                    <h3 class="card-title">Team Member</h3>
                    <img class="card-img-top" src="~/Content/businessman-avatar-icon-01-.jpg" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-header">Position</h4>
                        <a href="http://ted.com"><p class="card-text">TED profile</p></a>
                        <a href="http://linkedin.com"><p class="card-text">LinkedIn</p></a>
                    </div>
                </div>
            </div>
            @*}*@
            </div>
    </div>
</div>
