@import url('https://fonts.googleapis.com/css?family=Anton|Do+Hyeon');
body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/
.cus-footer {
    vertical-align: bottom;
}
.t3-footer {
    border-top: 1px solid #eeeeee;
    background: #000000;
    color: #ffffff;
}
.t3-footer:before,
.t3-footer:after {
    content: " ";
    display: table;
}
.t3-footer:after {
    clear: both;
}
.t3-footer small {
    display: block;
    font-size: 100%;
}
.t3-footnav {
    padding: 20px 0;
}
.t3-footnav:before,
.t3-footnav:after {
    content: " ";
    display: table;
}
.t3-footnav:after {
    clear: both;
}
@media screen and (min-width: 768px) {
    .t3-footnav {
        padding: 40px 0;
    }
}
.t3-footnav .t3-module {
    background: #000000;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}
.t3-footnav .t3-module .module-title {
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
}
.t3-footnav .t3-module ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.t3-footnav .t3-module ul > li {
    line-height: 24px;
}
.t3-footnav .t3-module ul > li > a {
    color: #ffffff;
}
.t3-footnav .t3-module ul > li > a:hover,
.t3-footnav .t3-module ul > li > a:active,
.t3-footnav .t3-module ul > li > a:focus {
    color: #ffffff;
}

#t3-footer .btn {
    background: #FF1C19;
}

.countdown {
    text-align: center;
}
    .countdown div {
        margin: 20px;
        display: inline-block;
        padding: 25px;
        min-width: 120px;
        background-color: #FF1C19;
        color: #ffffff;
        font-size: 48px;
        font-weight: 600;
        text-align: center;
        line-height: 1.2;
    }
.countdown div span {
    display: block;
    font-size: 14px;
    font-weight: 400;
}
.justify-content-center {
    float: none;
    margin: 0 auto;
}
.bg-img {
    border-radius: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}
.bg-img .overlay_dark {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.dropup,
.dropdown {
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0;
}

.dropup .dropdown-menu {
    margin-top: 0;
    margin-bottom: 0.125rem;
}

.dropup .dropdown-toggle::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: normal;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: #868e96;
    background-color: transparent;
}

.show > a {
    outline: 0;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-header {
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: 0;
    font-size: 0.875rem;
    color: #868e96;
    white-space: nowrap;
}

#footer {
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.carousel-content {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 5px;
    display: table;
    vertical-align: middle;
    margin: auto;
}

#text-carousel {
    width: 100%;
    height: auto;
    padding: 0px;
    background-color: #ff1c19;
}
.navbar-nav > li > a {
    line-height: 50px;
}