@{
    ViewBag.Title = "Home Page";
}
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1&appId=332444310558367&autoLogAppEvents=1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="jumbotron body-content">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row body-content">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    
</div>

<section class="bg-img pt70 pb70" style="background-image: url('/Content/bg-img.png');">
    <div class="overlay_dark"></div>
    <div class="container justify-content-center">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12">
                <h4 class="mb30 text-center" style="color:#dbdbdb">COUNTER UNTIL THE BIG EVENT</h4>
                <div class="countdown">
                    <div><p id="days">COM</p> <span>Days</span></div>
                    <div><p id="hours">ING</p><span>Hours</span></div>
                    <div><p id="minutes">SO</p><span>Minutes</span></div>
                    <div><p id="seconds">ON</p><span>Seconds</span></div>
                </div>
            </div>
        </div>
    </div>
    
</section>
<hr />
<div class=" body-content">
    <div class="row">
        <div class="col-md-4">
            <a class="twitter-timeline"  data-height="691" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/TEDxUWIMona?ref_src=twsrc%5Etfw">Tweets by TEDxUWIMona </a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="col-md-4">
            <div class="fb-page" data-href="https://www.facebook.com/UWIMonaTEDx/" data-tabs="timeline" data-height="691"data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/UWIMonaTEDx/" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/UWIMonaTEDx/">TEDxUWIMONA</a>
                </blockquote>
            </div>
        </div>
        <div class="col-md-4">
            <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/BlJug42Bv7V/" data-instgrm-version="9" data-height="400"style="background: #FFF; border: 0; border-radius: 3px; box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 10px 0 rgba(0, 0, 0, 0.15); margin: 1px; max-width: 540px; min-width: 326px; padding: 0; width: 99.375%; width: -webkit-calc(100% - 2px); width: calc(100% - 2px);">
                <div style="padding: 8px;">
                    <div style="background: #F8F8F8; line-height: 0; margin-top: 40px; padding: 50.0% 0; text-align: center; width: 100%;">
                        <div style="background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display: block; height: 44px; margin: 0 auto -44px; position: relative; top: -22px; width: 44px;"></div></div>
                    <p style="margin: 8px 0 0 0; padding: 0 4px;"> <a href="https://www.instagram.com/p/BlJug42Bv7V/" style="color: #000; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px; text-decoration: none; word-wrap: break-word;" target="_blank">In everything there is diversity, in every diversity there is a thought, in every thought there is an expert. #ColourMeDifferent #ImAnExpert #TEDxUWIMona #premierelaunch #staytuned</a></p>
                    <p style="color: #c9c8cd; font-family: Arial, sans-serif; font-size: 14px; line-height: 17px; margin-bottom: 0; margin-top: 8px; overflow: hidden; padding: 8px 0 7px; text-align: center; text-overflow: ellipsis; white-space: nowrap;">A post shared by <a href="https://www.instagram.com/tedxuwimona/" style="color: #c9c8cd; font-family: Arial, sans-serif; font-size: 14px; font-style: normal; font-weight: normal; line-height: 17px;" target="_blank"> TEDxUWIMona</a> (&#64tedxuwimona) on <time style="font-family: Arial, sans-serif; font-size: 14px; line-height: 17px;" datetime="2018-07-13T00:37:26+00:00">Jul 12, 2018 at 5:37pm PDT</time></p></div>
            </blockquote>
            <script async defer src="//www.instagram.com/embed.js"></script>
        </div>
    </div>
</div>

<script type="text/javascript">
    function countdown() {
        var now = new Date();
        var eventDate = new Date(2019, 1, 21, 10, 00, 00);
        var currentTime = now.getTime();
        var eventTime = eventDate.getTime();

        var remTime = eventTime - currentTime;

        var s = Math.floor(remTime / 1000);
        var m = Math.floor(s / 60);
        var h = Math.floor(m / 60);
        var d = Math.floor(h / 24);

        h %= 24;
        m %= 60;
        s %= 60;

        h = (h < 10) ? "0" + h : h;
        m = (m < 10) ? "0" + m : m;
        s = (s < 10) ? "0" + s : s;

        document.getElementById("days").textContent = d;
        document.getElementById("days").innerText = d;

        document.getElementById("hours").textContent = h;
        document.getElementById("minutes").textContent = m;
        document.getElementById("seconds").textContent = s;

        setTimeout(countdown, 1000);
    }

    //countdown();
</script>